@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Titan+One&display=swap');

.image-background
{
    -fx-background-image: url("../images/Login_page.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; /* Center the background image */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 0); /* Optional: add a drop shadow */
    -fx-transition: -fx-scale-x 10s, -fx-scale-y 10s;
    -fx-border-radius: 25%;



}
.image-background:hover
{

    -fx-scale-x: 1.1; /* Scale by 10% on hover */
    -fx-scale-y: 1.1;


}


.login-form
{
    -fx-background-color: #F5F6F6;
}

.text1
{
    -fx-font-family: 'Titan One';
    -fx-font-size: 30;
    -fx-font-style: normal;
    -fx-text-fill: #5D4FA1;
}

.input-fields
{




    -fx-font-family: "Poppins Black";
    -fx-border-style: none; /* Remove border */
    -fx-border-color: transparent; /* Make border color transparent */
    -fx-background-color: #FFE6E6;
    -fx-background-radius: 10px;


}

.input-fields:hover,
.input-fields:focused
{
    -fx-border-style: solid;

    -fx-border-width: 2px;
    -fx-border-radius: 10px;

    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 3 );
}

.btn
{
    -fx-start-margin: 2px;
    -fx-font-family: "Poppins Black";
    -fx-text-fill: white;
    -fx-background-color: #5D4FA1 ;

    -fx-pref-height: 5;
    -fx-alignment: Center;
    -fx-pref-width: 225;
    -fx-font-size: 15px;
    -fx-background-radius: 5px;
}

.btn:hover
{

    -fx-background-color: #453c77;

    -fx-pref-height: 5;
    -fx-cursor: hand;


    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 3 );
}

.btn_sign_up
{
    -fx-start-margin: 2px;
    -fx-font-family: "Arial";
    -fx-text-fill: #5D4FA1;

    -fx-background-color: Transparent ;

    -fx-pref-height: 5;
    -fx-alignment: left;
    -fx-pref-width: 100;
    -fx-font-size: 15px;
    -fx-background-radius: 5px;

}

.btn_sign_up:hover
{
    -fx-cursor: hand;
    -fx-underline: true;
}